/* 기본 모달 스타일 */
.modal {
    background-color: rgba(0, 0, 0, 0.85); /* 검은색 반투명 배경 */
}
.modal-header, .modal-footer {
    border: none; /* 구분선 제거 */
}


.request-modal .modal-content {
    background-color: #1a1a1a; /* 어두운 검은색 */
    /*border: 2px solid #4a6fa5;  연한 파랑색 테두리 */
    box-shadow: 0 0 15px 5px #4a6fa5; /* 연한 파랑색의 박스 쉐도우 */
    border-radius: 10px; /* 모서리 둥글게 */
}

/* 모달 제목 스타일 */
.request-modal .modal-title {
    color: #4a6fa5; /* 연한 파랑색 */
}

/* 모달 본문 스타일 */
.modal-body {
    color: #aaa; /* 회색 글자 */
    text-align: center;
}

.modal-body img {
    width:150px;
    height:100px;
}

.modal-image-box {
    width:150px;
    margin: auto;
    margin-bottom: 15px;
}

/* 수락 버튼 스타일 */
.request-primary {
    background: none;
    border: 2px solid #4a6fa5;
    color: lightblue;
    padding: 10px 20px; /* 패딩 조절 */
    transition: all 0.3s ease-in-out; /* 호버 효과를 위한 전환 효과 */
}


/* 거절 버튼 스타일 */
.request-secondary {
    background: none;
    border: 2px solid gray; /* 테두리 제거 */
    color: lightcoral;
    padding: 10px 20px; /* 패딩 조절 */
    transition: all 0.3s ease-in-out; /* 호버 효과를 위한 전환 효과 */
}

/* 버튼 호버 효과 */
.request-secondary:hover,
.request-primary:hover {
    transform: translateY(-2px); /* 약간 위로 이동 */
    box-shadow: 5px 5px 5px rgba(171, 150, 150, 0.2); /* 그림자 강조 */
    background-color: #4a6fa5;
}

/* 버튼 눌림 효과 */
.request-secondary:active,
.request-primary:active {
    transform: translateY(0px); /* 원래 위치로 복귀 */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* 그림자 약화 */
    background-color: #4a6fa5;
}

.sender{
    color:lightblue;
}
