.content_rtc {
    width: 100%;
    height: calc(100% - 40px);
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(11, 11, 14, 0.8);
    border: 1px solid #222526;
    border-top-width: 0px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.localRoom_text {
    font-size: 15px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.localRoom_content {
    width: 100%;
    height: calc(100% - 150px);
    position: relative;
}
.localRoom_content.one {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
}
.button-container.one {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
    background-color: white;
}

.rtc_btn {
    border: 0px solid #3b3e3f !important;
    border-top-width: 1px !important;
    color: white !important;
    font-family: 'Orbit', sans-serif !important;
    width: 33.3%;
    margin-right: 10px !important;
    background-color: #18181f !important;
    transition: all 0.3s ease-in-out !important;
}

.rtc_btn.one {
    margin-right: 0px !important;
}

.rtc_btn.active {
    background-color: #f05650 !important;
    border: 0px solid #e09f94 !important;
    border-top-width: 1px !important;
}

.rtc_btn.active.one {
    margin-right: 0px;
}

.rtc_btn:hover {
    background-color: #272731 !important;
    border-top-width: 0px !important;
}

.rtc_btn.active:hover {
    background-color: #e1605a !important;
    border-top-width: 0px !important;
}

.rtc_trans_btn {
    height: 100% !important;
    font-size: 10px !important;
    white-space: nowrap !important;
    border: 0px solid #3b3e3f !important;
    border-top-width: 1px !important;
    color: white !important;
    font-family: 'Orbit', sans-serif !important;
    width: 35%;
    margin-right: 10px;
    background-color: #18181f !important;
    transition: all 0.3s ease-in-out !important;
    box-sizing: border-box !important;
}

.rtc_trans_btn.one {
    background-color: red !important;
}

.rtc_trans_btn:hover {
    background-color: #272731 !important;
    border-top-width: 0px !important;
}

.rtc_trans_btn.one:hover {
    background-color: #ff5252 !important;
    border-top-width: 0px !important;
}

.na_trans {
    width: 65%;
    height: 100%;
    display: flex;
    padding-left: 10px;
    box-sizing: border-box;
}

.na_select {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3px;
    box-sizing: border-box;
    border-radius: 4px;
    width: 25%;
    font-size: 13px;
    background-color: #4f4f5d;
    border: 0px solid #3b3e3f;
    border-top-width: 1px;
    color: white;
    margin-right: 10px;
}

.na_select.one {
    margin-right: 0px;
}

.na_select:hover {
    background-color: rgba(79, 79, 93, 0.5);
    cursor: pointer;
}