.headerCate{
    width: 100%;
    height: 40px;
}
.headerChatCate{
    width: 100%;
    height: 100% !important;
    display: flex;
    background-color: #121418;
    align-items: center;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border: 1px solid #222526;
    transition: all 0.5s ease-in-out;
}
.headerChatCate_true{
    width: 100%;
    height: 40px !important;
    display: flex;
    background-color: #121418;
    align-items: center;
    border-top-right-radius: 3px;
    border-top-left-radius: 0px;
    border: 1px solid #222526;
    border-left-width: 0px;
}
.CreateClose {
    width: 20px !important;
    min-width: 20px !important;
    height: 20px !important;
    background-color: rgba(205, 92, 92, 0.8) !important;
    color: rgba(255, 255, 255, 0.8) !important;
    font-size: 10px !important;
    font-family: 'Russo One', sans-serif !important;
}
.CreateClose:hover{
    background-color: rgba(205, 92, 92, 0.4) !important;
}
.userList_title{
    background-color: #121418;
    width: 200px;
    height: 39px;
    border: 0px solid #222526;
    border-bottom-width: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    white-space: nowrap;
    position: relative;
    color: white;
    margin-bottom: 10px;
}
.userList_title_2{
    position: relative;
    font-family: 'Russo One', sans-serif;
    font-size: 10px;
    text-transform: uppercase;
}
.userList_title_cnt{
    position: absolute;
    right: -13px;
    top: 0;
    font-size: 10px;
    background-color: rgba(205, 92, 92, 0.8);
    color: white;
    border-radius: 3px;
    padding: 3px;
    box-sizing: border-box;
    line-height: 8px;
}
.userList_content{
    width: 200px;
    height: 50px;
    padding: 0px 10px 10px;
    box-sizing: border-box;
}
.userList_content_2{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    white-space: nowrap;
    background-color: rgba(255, 255, 255, 0.15);
    color: white;
    border-radius: 3px;
}
.creatRoom_Div{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 310px;
    border-radius: 4px;
    background-color: rgba(200, 200, 200, 0.9);
}
.creatRoom_Div_2{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121418;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border: 1px solid #222526;
}
.creatRoom_Div_2_1{
    width: 60px;
    height: 100%;
}
.creatRoom_Div_2_2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    color: white;
    width: calc(100% - 120px);
    height: 100%;
    padding-bottom: 5px;
    box-sizing: border-box;
}.creatRoom_Div_2_3{
     display: flex;
     justify-content: flex-end;
     align-items: center;
     width: 60px;
     height: 100%;
 }

.creatRoom_Div_3{
    width: 100%;
    height: calc(100% - 40px);
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.creatRoom_Div_form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.creatRoom_Div_4{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.roomName {
    width: 80% !important;
    height: 50px !important;
    border-radius: 4px !important;
    font-size: 12px !important;
    color: white !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
    outline: none;
    cursor: pointer;
    border: 1px solid rgba(200, 200, 200, 0.2) !important;
    transition: all 0.25s ease-in-out !important;
    font-family: 'Orbit', sans-serif !important;
    padding-left: 15px !important;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.roomNameSelect{
    margin-bottom: 10px;
    width: 80% !important;
    height: 50px !important;
    border-radius: 4px !important;
    font-size: 12px !important;
    color: rgba(255, 255, 255, 0.5) !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
    outline: none;
    cursor: pointer;
    border: 1px solid rgba(200, 200, 200, 0.2) !important;
    transition: all 0.25s ease-in-out !important;
    font-family: 'Orbit', sans-serif !important;
    padding-left: 0px !important;
    box-sizing: border-box;
}
.roomNameNumber{
    width: 80% !important;
    height: 50px !important;
    border-radius: 4px !important;
    font-size: 13px !important;
    color: white !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
    outline: none;
    cursor: pointer;
    border: 1px solid rgba(200, 200, 200, 0.2) !important;
    transition: all 0.25s ease-in-out !important;
    font-family: 'Russo One', sans-serif !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.roomNameSelect * {
    border: 0px !important;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}
input[type='number'] {
    -moz-appearance: textfield;
}
.roomName:hover{
    border: 1px solid rgba(200, 200, 200, 0.8) !important;
}
.roomNameNumber:hover{
    border: 1px solid rgba(200, 200, 200, 0.8) !important;
}
.roomNameSelect:hover{
    border: 1px solid rgba(200, 200, 200, 0.8) !important;
}
.creatRoom_Div_5{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.creatRoom_Div_6{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.creatRoom_Div_7{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.roomCreate2 {
    width: 100px !important;
    max-height: 40px !important;
    font-size: 12px !important;
    color: white !important;
    background-color: black !important;
    font-family: 'Russo One', sans-serif !important;
    text-align: center !important;
    box-sizing: border-box;
    border-radius: 4px !important;
}
.roomCreate2:hover{
    background-color: rgba(255, 255, 255, 0.2) !important;
}
.CateChatDiv {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 600px;
    border-radius: 15px;
    background-color: rgba(50, 50, 50, 0.8);
}

.btnDiv{
    width: 100px;
    display: flex;
    justify-content: flex-end;
}

.maximum_btn{
    width: 30px !important;
    min-width: 30px !important;
    height: 30px !important;
    background-color: rgba(255, 255, 255, 0.9) !important;
    color: black !important;
    font-family: 'Russo One', sans-serif !important;
    box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.7) !important;
}
.maximum_btn:hover{
    background-color: rgba(255, 255, 255, 0.5) !important;
    box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.3) !important;
}

.selectC {
    width: 100%;
    height: calc(100% - 50px);
    padding: 8px 20px 20px;
    box-sizing: border-box;
}

.chat {
    width: 100%;
    height: 100%;
}

.CateChatDiv_Chat {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 430px;
    height: 600px;
    border-radius: 10px;
    background-color: rgba(50, 50, 50, 0.7);
    border: 2px solid rgba(50, 50, 50, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

.CateChat_Room_create {
    width: 100%;
    height: 140px;
}

.EnterRoom {
    width: 100%;
    height: 50px;
}

.EnterRoomChat {
    width: 100%;
    height: calc(100% - 50px);
}

.EnterRoom_2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.EnterRoomChat_2 {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 3px;
}

.EnterRoomChat_content {
    width: 100%;
    height: calc(100% - 70px);
}
.EnterRoomChat_input_cate {
    width: 100%;
    height: 70px;
}
.EnterRoomChat_content_3 {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    padding: 10px 10px 0px;
    box-sizing: border-box;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: auto;
}
.EnterRoomChat_content_typing{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
}
.EnterRoomChat_content_2 {
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    padding: 0px 10px 10px;
    box-sizing: border-box;
    overflow: auto;
}

.EnterRoomChat_input {
    width: 100%;
    height: 14%;
}

.EnterRoomChat_input_form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.inputchat {
    width: 80% !important;
    height: 60%;
    margin-right: 10px;
    color: white;
    border: 1px solid rgba(128, 128, 128, 0.5) !important;
    border-radius: 10px !important;
}
.OneChat_menu_div{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.btnSend {
    width: 20% !important;
    height: 50px !important;
    max-height: 50px !important;
    min-height: 50px !important;
    font-size: 15px !important;
    color: white !important;
    border: 1px solid rgba(200, 200, 200, 0.4) !important;
    font-family: 'Russo One', sans-serif !important;
    box-sizing: border-box;
    background-color: black !important;
}
.btnSend:hover{
    background-color: rgba(0, 0, 0, 0.8) !important;
}

.EnterRoomCate {
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.EnterRoomCate_text{
    font-size: 12px;
    color: white;
    width: auto;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 2px;
    box-sizing: border-box;
    margin-right: 7px;
}
.EnterRoomNameCate {
    width: calc(100% - 100px);
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.EnterRoomName {
    width: calc(100% - 200px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.EnterRoomName_2{
    max-width: 50%;
    font-size: 12px;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    height: 30px;
    line-height: 30px;
    border-radius: 4px;
    background-color: black;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

.EnterRoomClose {
    width: 100px;
    height: 100%;
    font-size: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
}
.userAdd_btn{
    min-width: 31px !important;
    width: 31px !important;
    color: white !important;
    height: 31px !important;
    font-size: 12px !important;
    font-family: 'Russo One', sans-serif !important;
    background-color: rgba(24, 24, 31, 0.8) !important;
    border: 1px solid rgba(255, 255, 255, 0.2) !important;
    border-radius: 4px !important;
    margin-right: 7px !important;
}
.userAdd_btn:hover{
    background-color: #18181f !important;
}
.Close_btn {
    min-width: 30px !important;
    width: 30px !important;
    color: white !important;
    height: 30px !important;
    font-size: 12px !important;
    font-family: 'Russo One', sans-serif !important;
    background-color: rgba(205, 92, 92, 0.8) !important;
    border: 1px solid rgba(255, 255, 255, 0.2) !important;
    border-radius: 4px !important;
}
.Close_btn:hover{
    background-color: indianred !important;
}

.CateChat_Room_List {
    width: 100%;
    height: 100%;
}

.CateChat_Room_create_2 {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.CateChat_Room_create_3 {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px 16px 10px 10px;
    box-sizing: border-box;
}
.CateChat_Room_category_2{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.CateChat_Room_category {
    height: 100%;
    display: flex;
    align-items: center;
    overflow-x: hidden; /* x축 스크롤바 추가 */
    white-space: nowrap; /* 컨텐츠들이 한 줄에 표시되도록 함 */
    overflow-y: hidden; /* y축 스크롤바 숨김 */
    pointer-events: all; /* 포인터 이벤트 활성화 */
}
.CateChat_Room_category::-webkit-scrollbar {
    width: 100px;
    height: 10px;
}
.CateChat_Room_category::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px !important;
}
.CateChat_Room_category::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.4);
}

.CateChat_Room_category::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}
.roomCate{
    width: 100%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 16px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    transition: all 0.25s ease-in-out;
    padding-bottom: 5px;
    box-sizing: border-box;
}
.RoomList {
    width: 100%;
    height: calc(100% - 100px);
    padding: 0px;
    box-sizing: border-box;
}

.RoomList_2 {
    height: 100%;
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
}
.noRoom{
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
}

.roomName_text {
    font-size: 20px;
}



.roomCreate {
    width: 80px !important;
    min-width: 30px !important;
    height: 30px !important;
    font-size: 12px !important;
    color: white !important;
    background-color: #121418 !important;
    font-family: 'Russo One', sans-serif !important;
    padding: 0px !important;
    margin: 0px !important;
    text-align: center !important;
    box-sizing: border-box;
    border-radius: 5px !important;
    border: 1px solid gray;
}
.roomCreate:hover{
    background-color: #121418 !important;
}
.userList {
    width: 80px !important;
    min-width: 30px !important;
    height: 30px !important;
    font-size: 10px !important;
    color: white !important;
    font-family: 'Russo One', sans-serif !important;
    padding: 0px !important;
    margin: 0px !important;
    text-align: center !important;
    box-sizing: border-box;
    border-radius: 5px !important;
    background-color: #121418 !important;
}
.userList:hover{
    background-color: #121418 !important;
}
.userList:disabled{
    background-color: #121418 !important;
}
.roomList_item_div2 {
    display: none;
}
.roomList_item_div {
    width: 99%;
    height: 50px;
    background-color: rgba(143, 149, 162, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 1px 2px 3px 0px black;
    margin-top: 10px;
    border-radius: 4px;
    display: flex;
}
.roomList_item_div_2{
    width: 62%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.roomList_name_1{
    margin-left: 10px;
    font-size: 12px;
    color: white;
    font-weight: bold;
    padding: 4px 10px 6px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #121418;
    text-align: center;
    margin-right: 10px;
}
.roomList_name_2{
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 135px;
}
.roomList_item_div_3{
    width: 18%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.roomList_item_div_3_full{
    color: indianred;
    width: 18%;
    height: 100%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.roomList_item_div_4{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.roomList_btn{
    font-size: 12px !important;
    background-color: rgba(0, 0, 0, 0.8) !important;
    color: white !important;
    font-family: 'Russo One', sans-serif !important;
}
.roomList_btn:hover{
    background-color: rgba(255, 255, 255, 0.5) !important;
    color: black !important;
}

/*chat*/
.userJoin{
    background-color: rgba(255, 255, 255, 0.9);
    max-width: 80%;
    min-width: 20%;
    height: 30px;
    text-align: center;
    display: inline-block;
    padding: 5px;
    width: auto;
    margin: 10px auto 15px;
    border-radius: 15px;
    position: relative;
    word-wrap: break-word;
}
.userY {
    background-color: rgba(255, 255, 255, 0.9);
    max-width: 80%;
    min-width: 20%;
    margin-left: auto;
    text-align: right;
    display: inline-block;
    padding: 5px 10px 5px 0px;
    margin-top: 10px;
    width: auto;
    border-radius: 15px 20px 25px 15px;
    position: relative;
    word-wrap: break-word;
}

.userX {
    background-color: rgba(200, 200, 200, 0.7);
    max-width: 80%;
    min-width: 20%;
    margin-right: auto;
    text-align: left;
    display: inline-block;
    padding: 5px 0px 5px 10px;
    margin-top: 10px;
    width: auto;
    border-radius: 20px 15px 15px 25px;
    position: relative;
    word-wrap: break-word;
}
.userName{
    color: black;
    font-size: 15px;
    font-family: 'Russo One', sans-serif;
}

.content_join {
    font-size: 14px;
    text-align: right;
    padding-left: 11px;
    padding-right: 11px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.9);
    font-family: 'Russo One', sans-serif;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.content_user {
    font-size: 14px;
    text-align: right;
    padding-left: 11px;
    padding-right: 11px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.8);

    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.content_other_trans{
    font-size: 14px;
    text-align: left;
    padding-left: 11px;
    padding-right: 11px;
    box-sizing: border-box;
    color: rgba(108, 28, 28, 0.88);

    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;

    margin-bottom: 5px;
}
.content_other {
    font-size: 14px;
    text-align: left;
    padding-left: 11px;
    padding-right: 11px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.8);

    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.message-user {
    font-size: 15px;
    margin-left: 10px;
}

.message-other {
    font-size: 15px;
    margin-right: 10px;
}

.message-user-profile {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
    margin-bottom: 5px;
}
.message-other-profile {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
    margin-bottom: 5px;
}
.message-regdate_Join{
    margin-top: 4px;
    font-size: 10px;
    color: white;
}
.message-regdate {
    position: absolute;
    top: 100%;
    left: 10px;
    font-size: 10px;
    color: white;
    display: flex;
    align-items: center;
}

.message-regdate_other {
    position: absolute;
    top: 100%;
    right: 10px;
    font-size: 10px;
    color: white;
    display: flex;
    align-items: center;
}
.on{
    background-color: #07b207;
    width: 7px;
    height: 7px;
    border-radius: 50%;
}
.off{
    background-color: indianred;
    width: 7px;
    height: 7px;
    border-radius: 50%;
}
.left_btn{
    margin-right: 10px !important;
    min-width: auto !important;
    color: white !important;
    height: 30px !important;
    font-size: 10px !important;
    font-family: 'Russo One', sans-serif !important;
    background-color: rgba(0, 0, 0, 0.9) !important;
    border: 1px solid rgba(255, 255, 255, 0.25) !important;
    border-radius: 5px !important;
    padding-right: 10px !important;
    padding-left: 10px !important;
    box-sizing: border-box !important;
    border-top-left-radius: 50% !important;
    border-bottom-left-radius: 50% !important;
}
.left_btn:hover{
    background-color: rgba(0, 0, 0, 0.2) !important;
}
.right_btn{
    margin-left: 10px !important;
    min-width: auto !important;
    color: white !important;
    height: 30px !important;
    font-size: 10px !important;
    font-family: 'Russo One', sans-serif !important;
    background-color: rgba(0, 0, 0, 0.9) !important;
    border: 1px solid rgba(255, 255, 255, 0.25) !important;
    border-radius: 5px !important;
    padding-right: 10px !important;
    padding-left: 10px !important;
    box-sizing: border-box !important;
    border-top-right-radius: 50% !important;
    border-bottom-right-radius: 50% !important;
}
.right_btn:hover{
    background-color: rgba(0, 0, 0, 0.2) !important;
}
.Cate_btn {
    margin-right: 10px !important;
    min-width: auto !important;
    color: white !important;
    height: 40px !important;
    font-size: 12px !important;
    font-family: 'Orbit', sans-serif!important;
    border: 0px solid #3b3e3f !important;
    border-top-width: 1px !important;
    box-shadow: 2px 3px 3px 0px black;
    border-radius: 3px !important;
    padding-right: 10px !important;
    padding-left: 10px !important;
    padding-bottom: 8px !important;
    box-sizing: border-box !important;
}
.Cate_btn.one{
    background-color: rgb(67, 76, 98, 0.4) !important;
}
.Cate_btn.one.active {
    background-color: rgb(37, 44, 65) !important;
}
.Cate_btn.two{
    background-color: rgb(67, 76, 98, 0.4) !important;
}
.Cate_btn.two.active {
    background-color: rgb(37, 44, 65) !important;
}
.Cate_btn_R{
    margin-right: 1px !important;
    min-width: auto !important;
    max-width: 100px !important;
    color: white !important;
    height: 40px !important;
    font-size: 12px !important;
    font-family: 'Orbit', sans-serif!important;
    background-color: rgb(67, 76, 98, 0.4) !important;
    border: 0px solid #3b3e3f !important;
    border-top-width: 1px !important;
    box-shadow: 2px 3px 3px 0px black;
    border-radius: 3px !important;
    padding-bottom: 8px !important;
    box-sizing: border-box;
}
.Cate_btn.one:hover{
    background-color: rgb(67, 76, 98, 0.4) !important;
    box-shadow: -1px -1px 0px 0px black;
    border-top-width: 0px !important;
}
.Cate_btn.two:hover{
    background-color: rgb(67, 76, 98, 0.4) !important;
    box-shadow: -1px -1px 0px 0px black;
    border-top-width: 0px !important;
}
.Cate_btn_R:hover {
    background-color: rgb(67, 76, 98, 0.4) !important;
    box-shadow: -1px -1px 0px 0px black;
    border-top-width: 0px !important;
}
.Cate_btn_R.active {
    background-color: rgb(37, 44, 65) !important;
    box-shadow: -1px -1px 0px 0px black;
    border-top-width: 0px !important;
}
/*=====메뉴창=====*/