@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Noto+Sans+KR:wght@400;500&family=Orbit&family=Russo+One&display=swap');

.friendsListDiv {
    width: 450px;
    height: 450px;
    border-radius: 4px;
    background-color: rgba(11, 11, 14, 0.5);
    /*box-shadow: 0px 0px 10px 4px rgba(100, 100, 100, 0.7);*/
}
.nationally{
    width: 100%;
    height: 40px;
    display: flex;
    padding-left: 20px;
    padding-top: 3px;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(18, 20, 24, 1);
    border: 0px solid #222526;
    border-top-width: 1px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
.nationally_text{
    margin-left: 13px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    margin-bottom: 5px;
}
.flag{
    opacity: 0.8;
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
}
.friendsList{
    height: calc(100% - 40px);
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.friendsList_2{
    height: 100%;
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
}
.friendsList_2::-webkit-scrollbar {
    background-color: #181818;
    width: 8px;
    height: 0px;
    border-radius: 10px;
}
.friendsList_2::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}

.friendsList_2::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}
.friendsList_item_div{
    width: 100%;
    height: 70px;
    margin-bottom: 40px;
    padding: 0px 10px;
    box-sizing: border-box;
    position: relative;
}
.userMessage_div{
    position: absolute;
    top: 100%;
    left: 5%;
    width: 90%;
    height: 25px;
    color: white;
    background-color: rgba(11, 11, 14, 0.7);
    display: flex;
    justify-content: flex-start;
    padding: 0px 20px 2px;
    box-sizing: border-box;
    align-items: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 12px;
    opacity: 1;
    transition: all 0.25s ease-in-out;
}
.userMessage_div.one{
    opacity: 0;
    transition: all 0.25s ease-in-out;
}
.userMessage{
    font-size: 12px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.friendsList_delete_div{
    background-color: rgba(0, 0, 0, 1);
    width: 100%;
    height: 70px;
    display: flex;
    margin-bottom: 10px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: all 0.25s ease-in-out;
}
.friendsList_delete_div2{
    background-color: rgba(11, 11, 14, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 70px;
    display: flex;
    margin-bottom: 10px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: all 0.25s ease-in-out;
}
.friendsList_item_div2{
    background-color: rgba(50, 50, 50, 0.8);
    width: 100%;
    height: 100%;
    display: flex;
    margin-bottom: 10px;
    border-radius: 10px;
    opacity: 0.5;
    transition: all 0.5s ease-in-out;
    position: relative;
}
.friendsList_item_div3{
    background-color: rgba(50, 50, 50, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 0px solid rgba(255, 255, 255, 0.1);
    border-top-width: 1px;
    opacity: 1;
    transition: all 0.5s ease-in-out;
    position: relative;
}
.friendsList_item_img{
    width: 70px;
    padding: 5px;
    box-sizing: border-box;
}
.myPageDiv_profile_img2{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    opacity: 0.8;
}
.friendsList_item_nickname{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.7);
}
.friendsList_item_nickname_text{
    text-align: center;
    width: 90px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.friendsList_item_btn_div{
    width: calc(100% - 170px);
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.friendsList_item_btn{
    min-width: 28% !important;
    height: 40px !important;
    background-color: rgba(0, 0, 0, 1) !important;
    border: 1px solid black !important;
    outline: none;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
    font-size: 10px !important;
    font-family: 'Russo One', sans-serif !important;
    color: rgba(255, 255, 255, 0.8) !important;
    margin-right: 7px !important;
    border-radius: 5px !important;
    position: relative !important;
}
.friendsList_item_btn:hover{
    background-color: rgba(0, 0, 0, 0.3) !important;
    color: rgba(255, 255, 255, 1) !important;
}
.unread-count{
    position: absolute;
    top: -4px;
    right: -4px;
    background-color: red;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.8);
}
.friendsList_item_btn2{
    min-width: 28% !important;
    height: 40px !important;
    background-color: rgba(17, 126, 0, 0.8) !important;
    border: 1px solid rgba(17, 126, 0, 1) !important;
    outline: none;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
    font-size: 10px !important;
    font-family: 'Russo One', sans-serif !important;
    color: rgba(255, 255, 255, 0.8) !important;
    margin-right: 7px !important;
    border-radius: 5px !important;
}
.friendsList_item_btn2:hover{
    background-color: rgba(17, 126, 0, 0.3) !important;
    border: 1px solid rgba(17, 126, 0, 0.5) !important;
    color: rgba(255, 255, 255, 1) !important;
}
.friend_del_text{
    font-size: 14px;
    color: white;
    margin-right: 14px;
    white-space: nowrap;
}
.friend_del_btn {
    position: absolute !important;
    top:0 !important;
    right: 0px !important;
    width: 13px !important;
    min-width: 13px !important;
    max-width: 13px !important;
    height: 10px !important;
    min-height: 10px !important;
    max-height: 10px !important;
    background-color: rgba(205, 92, 92, 0.5) !important;
    color: white !important;
    font-family: 'Russo One', sans-serif !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    box-sizing: border-box !important;
    border-radius: 0px !important;
    border-top-right-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}

.friend_del_btn:hover {
    background-color: rgba(205, 92, 92, 0.9) !important;
}
.friend_del_btn_1.one:hover {
    background-color: rgba(205, 92, 92, 0.9) !important;
}
.friend_del_btn_1:hover{
    background-color: rgba(150, 150, 150, 0.9) !important;
}
.friend_del_btn_1.one{
    background-color: rgba(205, 92, 92, 0.6) !important;
    margin-right: 10px !important;
}
.friend_del_btn_1{
    width: 80px !important;
    min-width: 80px !important;
    max-width: 80px !important;
    height: 40px !important;
    min-height: 40px !important;
    max-height: 40px !important;
    background-color: rgba(150, 150, 150, 0.6) !important;
    color: white !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    box-sizing: border-box !important;
}
.friend_del_yes_btn:hover {
    background-color: rgba(205, 92, 92, 0.9) !important;
}
.friend_del_cancle_btn:hover {
    background-color: rgba(255, 255, 255, 0.6) !important;
}