.myPage_clicked {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(24, 24, 31, 0.5) !important;
}

.friendRecieved_clicked {
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(24, 24, 31, 0.5) !important;
}

.friendRequested_clicked {
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(24, 24, 31, 0.5) !important;
}

.friendRecieved_div {
    width: 100%;
    height: 10%;
    background-color: rgba(0, 0, 0, 1);
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
}

.friendRecieved_div_2 {
    width: 100%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.05);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px 20px 20px;
    box-sizing: border-box;
    overflow: auto;
}

.friendRecieved_div_3 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    white-space: nowrap;
}

.received_item {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: rgba(25, 25, 25, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    border-radius: 4px;
    transition: background-color 0.25s ease-in-out;
}

.received_item2 {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: rgba(205, 92, 92, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    border-radius: 4px;
    transition: background-color 0.25s ease-in-out;
}

.received_item3 {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: rgba(0, 128, 0, 0.2) !important;
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    border-radius: 4px;
    transition: background-color 0.25s ease-in-out;
}

.request_user {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 15px;
}

.statement {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.7);
    font-size: 12px;
    transition: all 0.25s ease;
    opacity: 1;
}

.request_btn {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px;
    box-sizing: border-box;
}

.request_btn_2 {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px;
    box-sizing: border-box;
}

.received_btn {
    width: 30% !important;
    min-width: 30% !important;
    height: 100% !important;
    min-height: 100% !important;
    max-height: 100% !important;
    background-color: rgba(0, 128, 0, 0.5) !important;
    color: white !important;
    font-size: 10px !important;
    font-family: 'Russo One', sans-serif !important;
    padding-right: 13px !important;
    padding-left: 2px !important;
    box-sizing: border-box !important;
}

.received_btn:hover {
    background-color: rgba(0, 128, 0, 0.9) !important;
}

.received_btn_2 {
    margin-left: 5px !important;
    width: 30% !important;
    min-width: 30% !important;
    height: 100% !important;
    min-height: 100% !important;
    max-height: 100% !important;
    background-color: rgba(205, 92, 92, 0.5) !important;
    color: white !important;
    font-size: 10px !important;
    font-family: 'Russo One', sans-serif !important;
    padding-right: 13px !important;
    padding-left: 2px !important;
    box-sizing: border-box !important;
}

.received_btn_2:hover {
    background-color: rgba(205, 92, 92, 0.9) !important;
}

.myPageDiv_profile_btn2 {
    width: 200px;
    height: 40px;
    border-radius: 4px !important;
    font-size: 10px !important;
    color: white !important;
    outline: none;
    cursor: pointer;
    background-color: rgba(24, 24, 31, 1) !important;
    border: 1px solid #3b3e3f !important;
    border-bottom-width: 0px !important;
    border-right-width: 0px !important;
    border-left-width: 0px !important;
    transition: all 0.25s ease-in-out !important;
    margin-top: 1px;
}

.myPageDiv_profile_btn3 {
    color: rgba(23, 192, 23, 0.74) !important;
    width: 200px;
    height: 40px;
    border-radius: 4px !important;
    font-size: 10px !important;
    outline: none;
    cursor: pointer;
    background-color: rgba(24, 24, 31, 1) !important;
    border: 1px solid #3b3e3f !important;
    border-bottom-width: 0px !important;
    border-right-width: 0px !important;
    border-left-width: 0px !important;
    transition: all 0.25s ease-in-out !important;
    margin-top: 1px;
}

.myPageDiv_profile_btn4 {
    color: indianred !important;
    width: 200px;
    height: 40px;
    border-radius: 4px !important;
    font-size: 10px !important;
    outline: none;
    cursor: pointer;
    background-color: rgba(24, 24, 31, 1) !important;
    border: 1px solid #3b3e3f !important;
    border-bottom-width: 0px !important;
    border-right-width: 0px !important;
    border-left-width: 0px !important;
    transition: all 0.25s ease-in-out !important;
    margin-top: 1px;
}

.myPageDiv_profile_btn2:hover {
    background-color: rgba(24, 24, 31, 1) !important;
    border: 1px solid #595c5d !important;
    border-bottom-width: 0px !important;
    border-right-width: 0px !important;
    border-left-width: 0px !important;
}

.myPageDiv_info_1_btn {
    max-width: 50% !important;
    width: 50% !important;
    height: 50px !important;
    margin-bottom: 0px !important;
    border-radius: 4px !important;
    font-size: 13px !important;
    color: white !important;
    outline: none;
    cursor: pointer;
    background-color: rgba(24, 24, 31, 1) !important;
    border: 1px solid #3b3e3f !important;
    border-bottom-width: 0px !important;
    border-right-width: 0px !important;
    border-left-width: 0px !important;
    margin-bottom: 0px;
    margin-left: 0px !important;
    transition: all 0.25s ease-in-out !important;
}

.myPageDiv_info_1_btn:hover {
    background-color: rgba(24, 24, 31, 1) !important;
    border: 1px solid #595c5d !important;
    border-bottom-width: 0px !important;
    border-right-width: 0px !important;
    border-left-width: 0px !important;
}

.myPageDiv_Message_btn {
    width: 100%;
    height: 100%;
    border-radius: 4px !important;
    font-size: 10px !important;
    color: white !important;
    outline: none;
    cursor: pointer;
    background-color: rgba(24, 24, 31, 1) !important;
    border: 1px solid #3b3e3f !important;
    border-bottom-width: 0px !important;
    border-right-width: 0px !important;
    border-left-width: 0px !important;
    margin-bottom: 0px;
    transition: all 0.25s ease-in-out !important;
}

.myPageDiv_Message_btn2 {
    width: 100%;
    height: 100%;
    border-radius: 4px !important;
    font-size: 10px !important;
    color: rgba(23, 192, 23, 0.74) !important;
    outline: none;
    cursor: pointer;
    background-color: rgba(24, 24, 31, 1) !important;
    border: 1px solid #3b3e3f !important;
    border-bottom-width: 0px !important;
    border-right-width: 0px !important;
    border-left-width: 0px !important;
    margin-bottom: 0px;
    transition: all 0.25s ease-in-out !important;
}

.myPageDiv_Message_btn:hover {
    background-color: rgba(24, 24, 31, 1) !important;
    border: 1px solid #595c5d !important;
    border-bottom-width: 0px !important;
    border-right-width: 0px !important;
    border-left-width: 0px !important;
}

.item-enter {
    opacity: 0;
}

.item-enter-active {
    opacity: 1;
    transition: opacity 500ms;
}

.item-exit {
    opacity: 1;
    max-height: 80px;
    overflow: hidden;
    transition: all 500ms ease-out;
}

.item-exit-active {
    opacity: 0;
    max-height: 0;
}
