.myPage_clicked {
    width: 100%;
    height: 100%;
}

.friendRecieved_clicked {
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.friendRequested_clicked {
    width: 100%;
    height: 100%;
    color: white;
    font-size: 20px;
}

.menu_1 {
    position: absolute !important;
    top: -2px !important;
    left: -82.5px !important;;
    background-color: rgba(50, 50, 50, 0.9) !important;
    color: rgba(255, 255, 255, 0.7) !important;
    font-family: 'Russo One', sans-serif !important;
    font-size: 10px !important;
    min-width: 80px !important;
    height: 100px !important;
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.menu_1:hover {
    background-color: rgba(255, 255, 255, 0.3) !important;
}

.menu_1_clicked {
    position: absolute !important;
    top: -2px !important;
    left: -82.5px !important;;
    background-color: rgba(255, 255, 255, 0.3) !important;
    color: rgba(255, 255, 255, 0.7) !important;
    font-family: 'Russo One', sans-serif !important;
    font-size: 10px !important;
    min-width: 80px !important;
    height: 100px !important;
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.menu_2 {
    position: absolute !important;
    top: 104px !important;
    left: -82.5px !important;;
    background-color: rgba(50, 50, 50, 0.9) !important;
    color: rgba(255, 255, 255, 0.7) !important;
    font-family: 'Russo One', sans-serif !important;
    font-size: 10px !important;
    min-width: 80px !important;
    max-width: 80px !important;
    height: 100px !important;
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.menu_2:hover {
    background-color: rgba(255, 255, 255, 0.3) !important;
}

.menu_2_clicked {
    position: absolute !important;
    top: 104px !important;
    left: -82.5px !important;
    background-color: rgba(255, 255, 255, 0.3) !important;
    color: rgba(255, 255, 255, 0.7) !important;
    font-family: 'Russo One', sans-serif !important;
    font-size: 10px !important;
    min-width: 80px !important;
    max-width: 80px !important;
    height: 100px !important;
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.menu_3 {
    position: absolute !important;
    top: 210px !important;
    left: -82.5px !important;
    background-color: rgba(50, 50, 50, 0.9) !important;
    color: rgba(255, 255, 255, 0.7) !important;
    font-family: 'Russo One', sans-serif !important;
    font-size: 10px !important;
    min-width: 80px !important;
    max-width: 80px !important;
    height: 100px !important;
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.menu_3:hover {
    background-color: rgba(255, 255, 255, 0.3) !important;
}

.menu_3_clicked {
    position: absolute !important;
    top: 210px !important;
    left: -82.5px !important;
    background-color: rgba(255, 255, 255, 0.3) !important;
    color: rgba(255, 255, 255, 0.7) !important;
    font-family: 'Russo One', sans-serif !important;
    font-size: 10px !important;
    min-width: 80px !important;
    max-width: 80px !important;
    height: 100px !important;
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.friendRecieved_div {
    width: 100%;
    height: 10%;
    background-color: rgba(0, 0, 0, 1);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
}

.friendRecieved_div_2 {
    width: 100%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.05);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px 20px 20px;
    box-sizing: border-box;
    overflow: auto;
}
.friendRecieved_div_3{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
}

.received_item {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: rgba(25, 25, 25, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    border-radius: 4px;
    transition: background-color 0.25s ease-in-out;
}

.received_item2 {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: rgba(205, 92, 92, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    border-radius: 4px;
    transition: background-color 0.25s ease-in-out;
}

.received_item3 {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: rgba(0, 128, 0, 0.2) !important;
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    border-radius: 4px;
    transition: background-color 0.25s ease-in-out;
}

.request_user {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 15px;
}

.statement {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.7);
    font-size: 12px;
    transition: all 0.25s ease;
    opacity: 1;
}

.request_btn {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px;
    box-sizing: border-box;
}
.request_btn_2 {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px;
    box-sizing: border-box;
}
.received_btn {
    width: 30% !important;
    min-width: 30% !important;
    height: 100% !important;
    min-height: 100% !important;
    max-height: 100% !important;
    background-color: rgba(0, 128, 0, 0.5) !important;
    color: white !important;
    font-size: 10px !important;
    font-family: 'Russo One', sans-serif !important;
    padding-right: 13px !important;
    padding-left: 2px !important;
    box-sizing: border-box !important;
}

.received_btn:hover {
    background-color: rgba(0, 128, 0, 0.9) !important;
}

.received_btn_2 {
    margin-left: 5px !important;
    width: 30% !important;
    min-width: 30% !important;
    height: 100% !important;
    min-height: 100% !important;
    max-height: 100% !important;
    background-color: rgba(205, 92, 92, 0.5) !important;
    color: white !important;
    font-size: 10px !important;
    font-family: 'Russo One', sans-serif !important;
    padding-right: 13px !important;
    padding-left: 2px !important;
    box-sizing: border-box !important;
}

.received_btn_2:hover {
    background-color: rgba(205, 92, 92, 0.9) !important;
}

.myPageDiv_profile_btn2 {
    width: 120px;
    height: 40px;
    border-radius: 10px !important;
    font-size: 10px !important;
    color: white !important;
    background-color: black !important;
    outline: none;
    cursor: pointer;
    border: 1px solid black !important;
    transition: all 0.25s ease-in-out !important;
    margin-top: 1px;
    font-family: 'Russo One', sans-serif !important;
}

.myPageDiv_profile_btn3 {
    width: 120px;
    height: 40px;
    border-radius: 10px !important;
    font-size: 10px !important;
    color: rgba(23, 192, 23, 0.74) !important;
    background-color: black !important;
    outline: none;
    cursor: pointer;
    border: 1px solid black !important;
    transition: all 0.25s ease-in-out !important;
    margin-top: 1px;
    font-family: 'Russo One', sans-serif !important;
}

.myPageDiv_profile_btn4 {
    width: 120px;
    height: 40px;
    border-radius: 10px !important;
    font-size: 10px !important;
    color: indianred !important;
    background-color: black !important;
    outline: none;
    cursor: pointer;
    border: 1px solid black !important;
    transition: all 0.25s ease-in-out !important;
    margin-top: 1px;
    font-family: 'Russo One', sans-serif !important;
}

.myPageDiv_profile_btn2:hover {
    background-color: rgba(28, 28, 28, 0.8) !important;
}

.myPageDiv_info_1_btn {
    width: 230px !important;
    height: 50px !important;
    margin-bottom: 0px;
    color: white !important;
    cursor: pointer !important;
    border-radius: 10px !important;
    background-color: black !important;
    outline: none;
    border: 1px solid black !important;
    transition: all 0.25s ease-in-out;
    font-size: 13px !important;
    font-family: 'Russo One', sans-serif !important;
}

.myPageDiv_info_1_btn:hover {
    background-color: rgba(28, 28, 28, 0.8) !important;
}

.myPageDiv_Message_btn {
    width: 100% !important;
    height: 100% !important;
    margin-bottom: 0px;
    color: white !important;
    cursor: pointer;
    border-radius: 8px !important;
    background-color: black !important;
    outline: none;
    border: 1px solid rgba(100, 100, 100, 0.4) !important;
    transition: all 0.25s ease-in-out;
    font-size: 10px !important;
    font-family: 'Russo One', sans-serif !important;
}

.myPageDiv_Message_btn2 {
    width: 100% !important;
    height: 100% !important;
    margin-bottom: 0px;
    color: rgba(23, 192, 23, 0.74) !important;
    cursor: pointer;
    border-radius: 8px !important;
    background-color: black !important;
    outline: none;
    border: 1px solid rgba(100, 100, 100, 0.4) !important;
    transition: all 0.25s ease-in-out;
    font-size: 10px !important;
    font-family: 'Russo One', sans-serif !important;
}

.item-enter {
    opacity: 0;
}

.item-enter-active {
    opacity: 1;
    transition: opacity 500ms;
}

.item-exit {
    opacity: 1;
    max-height: 80px;
    overflow: hidden;
    transition: all 500ms ease-out;
}

.item-exit-active {
    opacity: 0;
    max-height: 0;
}
