.header {
    width: 100%;
    height: 30px;
    display: flex;
}


.btnDiv_create {
    width: 100px;
    display: flex;
    justify-content: flex-start;
}

.title_cate {
    width: calc(100% - 200px);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnDiv {
    width: 100px;
    display: flex;
    justify-content: flex-end;
}

.minimum {
    width: 30px !important;
    min-width: 30px !important;
    height: 30px !important;
    background-color: rgba(255, 255, 255, 0.8) !important;
    color: rgba(255, 255, 255, 0.8) !important;
    font-size: 10px !important;
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
    font-family: 'Russo One', sans-serif !important;
}

.minimum:hover {
    background-color: rgba(255, 255, 255, 0.4) !important;
}

.close {
    width: 30px !important;
    min-width: 30px !important;
    height: 30px !important;
    background-color: rgba(205, 92, 92, 0.8) !important;
    color: rgba(255, 255, 255, 0.8) !important;
    font-size: 10px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    font-family: 'Russo One', sans-serif !important;
}

.close:hover {
    background-color: rgba(205, 92, 92, 0.4) !important;
}

.maximum_btn {
    width: 30px !important;
    min-width: 30px !important;
    height: 30px !important;
    background-color: rgba(255, 255, 255, 0.9) !important;
    color: black !important;
    font-family: 'Russo One', sans-serif !important;
    box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.7) !important;
}

.maximum_btn:hover {
    background-color: rgba(255, 255, 255, 0.5) !important;
    box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.3) !important;
}

.select {
    width: 100%;
    height: calc(100% - 30px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.random_start {
    width: 100%;
    height: 100%;
}

.random_start_2 {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 20px;
    color: white;
}

.random_start_3 {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.random_btn {
    background-color: rgba(0, 0, 0, 0.9) !important;
    width: 150px !important;
    min-height: 50px !important;
    font-family: 'Russo One', sans-serif !important;
    color: white !important;
    font-size: 15px !important;
    border: 1px solid rgba(200, 200, 200, 0.3) !important;
    border-radius: 10px !important;
}

.random_btn:hover {
    background-color: rgba(0, 0, 0, 0.6) !important;
    border: 1px solid rgba(200, 200, 200, 0.6) !important;
}

.EnterRoomChat_one {
    width: 100%;
    height: 100%;
}

.chat_one {
    width: 100%;
    height: calc(100% - 30px);
    padding-top: 15px;
    box-sizing: border-box;
}

.input_menu {
    width: 80%;
    height: 50px;
    margin-right: 10px;
    position: relative;
}

.input_change_div {
    width: 100%;
    height: 100%;
}

.EnterRoomChat_content_one {
    width: 100%;
    height: 86%;
}

.EnterRoomChat_input_one {
    width: 100%;
    height: 14%;
}

.EnterRoomChat_input_form_one {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative !important;
}

.inputchat_one {
    width: 100% !important;
    height: 100% !important;
    max-height: 100% !important;
    min-height: 100% !important;
    color: white;
    padding-left: 68px !important;
}

.inputchat_one2 {
    width: 100% !important;
    height: 100% !important;
    max-height: 100% !important;
    min-height: 100% !important;
    color: gray;
    padding-left: 68px !important;
}

.OneChat_menu_div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu_div {
    width: 330px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.file {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.menu_btn {
    width: 100% !important;
    height: 100% !important;
    min-width: 100% !important;
    background-color: rgba(255, 255, 255, 0.7) !important;
    font-family: 'Russo One', sans-serif !important;
    color: black !important;
    border: 1px solid rgba(0, 0, 0, 0.5) !important;
    border-radius: 10px !important;
}

.menu_btn:hover {
    background-color: rgba(255, 255, 255, 0.4) !important;
    border: 1px solid rgba(0, 0, 0, 1) !important;

}

.trans {
    width: 250px;
    height: 50px;
}
.trans_check{
    height: 25px;
}
.trans_select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 10px !important;
    position: relative;
    width: 100% !important;
    height: 50px !important;
    padding-left: 5px !important;
    padding-right: 20px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.7) !important;
    border: 1px solid rgba(0, 0, 0, 0.5) !important;
    outline: none;
    font-size: 15px !important;
    color: black !important;
    font-family: 'Russo One', sans-serif !important;
    transition: all 0.25s ease-in-out !important;
}
.trans_select * {
    border: 0px !important;
}
.trans_select:hover {
    background-color: rgba(255, 255, 255, 0.4) !important;
    border: 1px solid black !important;
}
.trans_li_select{
    font-size: 12px !important;
    font-weight: bold !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
    color: rgba(255, 255, 255, 0.8) !important;
}

.add_now {
    position: absolute !important;
    top: 10px !important;
    left: 10px !important;
    width: 50px !important;
    min-width: 50px !important;
    height: 30px !important;
    font-size: 15px !important;
    color: white !important;
    border: 0px !important;
    outline: none !important;
    background-color: rgba(255, 255, 255, 0.2) !important;
    font-family: 'Russo One', sans-serif !important;
    border-radius: 10px !important;
    transition: border-bottom-left-radius 1s ease-in-out !important;
}

.add_now:hover {
    background-color: rgba(255, 255, 255, 0.4) !important;
}

.add {
    position: absolute !important;
    top: 10px !important;
    left: 10px !important;
    width: 50px !important;
    min-width: 50px !important;
    height: 30px !important;
    font-size: 15px !important;
    color: white !important;
    border: 0px !important;
    outline: none !important;
    background-color: rgba(255, 255, 255, 0.2) !important;
    font-family: 'Russo One', sans-serif !important;
    border-radius: 10px !important;
    transition: border-bottom-left-radius 1s ease-in-out !important;
}

.add:hover {
    background-color: rgba(255, 255, 255, 0.4) !important;
}

.btnSend {
    width: 20% !important;
    height: 50px !important;
    max-height: 50px !important;
    min-height: 50px !important;
    font-size: 15px !important;
    color: white !important;
    border: 1px solid rgba(200, 200, 200, 0.4) !important;
    font-family: 'Russo One', sans-serif !important;
    padding-right: 17px !important;
    box-sizing: border-box;
}

.btnSend2 {
    width: 20% !important;
    height: 50px !important;
    max-height: 50px !important;
    min-height: 50px !important;
    font-size: 13px !important;
    color: white !important;
    border: 1px solid rgba(200, 200, 200, 0.4) !important;
    font-family: 'Russo One', sans-serif !important;
    background-color: black !important;
    border-radius: 10px !important;
}

.btnSend2:hover {
    background-color: rgba(28, 28, 28, 0.8) !important;
}

.down_div {
    position: relative;
}

.downBtn {
    position: absolute !important;
    bottom: 15px !important;
    right: 5px !important;
    width: 25px !important;
    min-width: 25px !important;
    height: 25px !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
    font-family: 'Russo One', sans-serif !important;
    color: white !important;
    border: 1px solid rgba(255, 255, 255, 0.5) !important;
    border-radius: 7px !important;
}
.downBtn_other{
    position: absolute !important;
    bottom: 15px !important;
    right: 15px !important;
    width: 25px !important;
    min-width: 25px !important;
    height: 25px !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
    font-family: 'Russo One', sans-serif !important;
    color: white !important;
    border: 1px solid rgba(255, 255, 255, 0.5) !important;
    border-radius: 7px !important;
}

.downBtn:hover {
    background-color: rgba(255, 255, 255, 0.5) !important;
    color: rgba(0, 0, 0, 0.5) !important;
}
.downBtn_other:hover {
    background-color: rgba(255, 255, 255, 0.5) !important;
    color: rgba(0, 0, 0, 0.5) !important;
}

.downBtn2 {
    position: absolute !important;
    bottom: 5px !important;
    right: 5px !important;
    width: 25px !important;
    min-width: 25px !important;
    height: 25px !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
    font-family: 'Russo One', sans-serif !important;
    color: white !important;
    border: 1px solid rgba(255, 255, 255, 0.5) !important;
    border-radius: 7px !important;
}
.downBtn_other2 {
    position: absolute !important;
    bottom: 5px !important;
    right: 15px !important;
    width: 25px !important;
    min-width: 25px !important;
    height: 25px !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
    font-family: 'Russo One', sans-serif !important;
    color: white !important;
    border: 1px solid rgba(255, 255, 255, 0.5) !important;
    border-radius: 7px !important;
}
.downBtn_other2:hover {
    background-color: rgba(255, 255, 255, 0.5) !important;
    color: rgba(0, 0, 0, 0.5) !important;
}
.downBtn2:hover {
    background-color: rgba(255, 255, 255, 0.5) !important;
    color: rgba(0, 0, 0, 0.5) !important;
}

.message_img {
    width: 150px;
    height: 150px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.message_img2 {
    width: 150px;
    height: 150px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.message_other {
    background-color: rgba(255, 255, 255, 0.8);
    width: 200px;
    height: 50px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

}
.message_other2 {
    background-color: rgba(255, 255, 255, 0.8);
    width: 200px;
    height: 50px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

}
.message_other_text {
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
    text-align: center;
}
.message_other_text2 {
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
    text-align: center;
}
