.passwordChangeDiv_btn{
    width: 20% !important;
    height: 50px !important;
    color: white !important;
    cursor: pointer;
    font-size: 10px !important;
    border: 1px solid rgba(200, 200, 200, 0.4) !important;
    border-left-width: 0px !important;
    background-color: rgba(24, 24, 31, 1) !important;
    border-radius: 4px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}
.passwordChangeDiv_btn:disabled{
    color: rgba(255, 255, 255, 0.5) !important;
}
.passwordChangeDiv_btn_submit{
    width: 100% !important;
    height: 50px !important;
    color: white !important;
    cursor: auto;
    font-size: 13px !important;
    background-color: rgba(24, 24, 31, 1) !important;
    border-radius: 4px !important;
    transition: all 0.25s ease-in-out;
}
.passwordChangeDiv_btn_submit:disabled{
    color: rgba(255, 255, 255, 0.2) !important;
}

.userDelDiv_btn_submit{
    width: 100% !important;
    height: 50px !important;
    color: white !important;
    cursor: auto;
    font-size: 13px !important;
    background-color: rgba(192, 67, 67, 0.5) !important;
    border: 1px solid rgba(192, 67, 67, 0.8) !important;
    border-radius: 4px !important;
    transition: all 0.25s ease-in-out;
}
.userDelDiv_btn_submit:hover{
    background-color: rgba(192, 67, 67, 0.8) !important;
}
.userDelDiv_btn_submit:disabled{
    background-color: rgba(24, 24, 31, 1) !important;
    color: rgba(255, 255, 255, 0.2) !important;
    border: 1px solid rgba(24, 24, 31, 1) !important;
}