.box {
    position: "fixed";
    width: 320px;
    min-height: 100px;
    height: 550px;
    background: rgba(50, 50, 50, 0.8);
    padding: 1em;
    border-radius: 5px;
  }
  
  .box-header {
    position: fixed;
    text-align: center;
    font-size: 24px;
    color: white;
  }
  
  .min-btn {
    position: absolute;
    top: 5px;
    right: 30px;
  }
  
  .close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
  }
  
  .box-content {
    text-align: center;
    color: white;
    font-size: 20px;
    width: 100%;
  }
  
  .box-position {
    color: white;
    font-size: 22px;
  }
  