@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Noto+Sans+KR:wght@400;500&family=Orbit&family=Russo+One&display=swap');
*{
  font-family: 'Russo One', sans-serif;
}
.App {
  text-align: center;
  /*font-family: 'Inconsolata', monospace;*/
  /*font-family: 'Noto Sans KR', sans-serif;*/
  /*font-family: 'Orbit', sans-serif;*/
  /*font-family: 'Russo One', sans-serif;*/

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
background-color: gray;
}

canvas {
  _border: 1px dashed black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
