header{
    background-color: whitesmoke;
    border: 0px solid darkgray;
    border-bottom-width: 1px;
    padding: 16px;
    box-sizing: border-box;
    font-size: 0px;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    opacity: 0.5;
    width: 100vw;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}